Repository LouiMinister/mythingbee1, pull requests merged in 2019-08, with the labels that each got.

#67 [ISSUE-65] PressDAO 코드로 언론사제거 추가
  .gitignore
  src/main/java/com/antybeety/press/model/dao/PressDAO.java
  src/main/java/com/antybeety/press/mybatis/PressMapper.java
  src/main/resources/mapper/PressMapper.xml
  src/test/java/com/antybeety/press/model/dao/PressDAOTest.java
Labels: MVC : DAO, S : 관리자 모드, Test Case

#69 [ISSUE-63] 뉴스 관리자모드 언론사 추가 서비스 구현 @Controller, Service
  src/main/java/com/antybeety/news/controller/NewsAdController.java
  src/main/java/com/antybeety/news/controller/NewsAdControllerImpl.java
  src/main/java/com/antybeety/news/model/service/NewsAdService.java
  src/main/java/com/antybeety/press/model/service/PressService.java
  src/test/java/com/antybeety/news/model/controller/NewsAdControllerTest.java
Labels: MVC : Controller, MVC : Service, S : 관리자 모드, S : 뉴스, Test Case, 기능추가

#70 [ISSUE-68] 뉴스 관리자 모드 PressDAO 언론사 수정 구현
  src/main/java/com/antybeety/press/model/dao/PressDAO.java
  src/main/java/com/antybeety/press/mybatis/PressMapper.java
  src/main/resources/mapper/PressMapper.xml
  src/test/java/com/antybeety/press/model/dao/PressDAOTest.java
Labels: MVC : DAO, S : 관리자 모드, Test Case

#71 [ISSUE-68] 뉴스 관리자 모드- PressDAO 언론사 수정 구현-2
  src/main/java/com/antybeety/press/model/dao/PressDAO.java
  src/test/java/com/antybeety/press/model/dao/PressDAOTest.java
Labels: MVC : DAO, S : 관리자 모드, Test Case

#77 [ISSUE-73] 뉴스관리자모드 NewsAdController, NewsAdService 메서드
  src/main/java/com/antybeety/news/controller/NewsAdController.java
  src/main/java/com/antybeety/news/controller/NewsAdControllerImpl.java
  src/main/java/com/antybeety/news/model/service/NewsAdService.java
  src/main/java/com/antybeety/news/model/service/NewsAdServiceImpl.java
Labels: MVC : Controller, MVC : Service, S : 관리자 모드, S : 뉴스, Spring

#78 [ISSUE-75] 뉴스관리자모드 코드로 기사찾아오기 return값 수정
  src/main/java/com/antybeety/news/model/dao/ArticleInfoDAO.java
  src/main/java/com/antybeety/news/model/dao/ArticleInfoDAOImpl.java
  src/main/java/com/antybeety/news/model/service/NewsAdServiceImpl.java
  src/main/java/com/antybeety/news/mybatis/NewsMapper.java
  src/test/java/com/antybeety/news/model/dao/ArticleDAOTest.java
  src/test/java/com/antybeety/news/model/service/NewsAdServiceTest.java
Labels: MVC : DAO, MVC : Service, Spring, Test Case, 도움!!

#81 [ISSUE-79] 관리자모드 ArticleAdController 구현
  src/main/java/com/antybeety/news/controller/NewsAdController.java
  src/main/java/com/antybeety/news/controller/NewsAdControllerImpl.java
  src/test/java/com/antybeety/news/model/controller/NewsAdControllerTest.java
Labels: MVC : Controller, S : 관리자 모드, S : 뉴스, Spring, Test Case

#92 [ISSUE-87] NewsAdService 구현클래스 메서드 추가(삭제,수정 관련)
  src/main/java/com/antybeety/news/model/service/NewsAdServiceImpl.java
Labels: MVC : Service, S : 관리자 모드, S : 뉴스, Spring

#93 [ISSUE-91] 뉴스 관리자모드 - removeKeyword 피벗테이블에서 제거메소드
  src/main/java/com/antybeety/news/model/dao/KeywordDAO.java
  src/main/java/com/antybeety/news/mybatis/KeywordMapper.java
  src/main/resources/mapper/KeywordMapper.xml
  src/test/java/com/antybeety/news/model/dao/KeywordDAOTest.java
Labels: MVC : DAO, S : 관리자 모드, S : 뉴스, Spring, Test Case, 기능추가

#102 [ISSUE-101] 관리자 메뉴 - 기사 삭제 controller 연결
  src/main/java/com/antybeety/news/controller/ViewNewsController.java
  web/WEB-INF/views/admin_news/newsAdmin.jsp
Labels: MVC : Controller, MVC : VController, S : 관리자 모드, S : 뉴스, UI

#111 [ISSUE-103] 관리자 로그인 구현
  src/main/java/com/antybeety/news/controller/NewsAdController.java
  src/main/java/com/antybeety/news/controller/NewsAdControllerImpl.java
  src/main/java/com/antybeety/news/controller/ViewNewsController.java
  src/main/java/com/antybeety/news/model/service/NewsAdService.java
  src/main/java/com/antybeety/news/model/service/NewsAdServiceImpl.java
  web/WEB-INF/views/admin/adminLogin.jsp
  web/WEB-INF/views/admin/adminMenu.jsp
  web/resources/css/adminlogin.css
  web/resources/image/admin/bee.png
  web/resources/js/adminlogin.js
Labels: MVC : Controller, MVC : VController, S : 관리자 모드, UI, 기능추가

#114 [ISSUE-103] conflict 해결 -
  src/main/java/com/antybeety/news/controller/ViewAdNewsController.java
  web/WEB-INF/views/admin/adminLogin.jsp
  web/resources/css/adminlogin.css
Labels: MVC : Controller, S : 관리자 모드, UI, bug

#117 [ISSUE-103] 로그인페이지 CSS 수정
  web/WEB-INF/views/admin/adminLogin.jsp
  web/resources/js/adminlogin.js
Labels: S : 관리자 모드, UI

#121 [ISSUE-118] 뉴스 관리자 모드- 기사 추가 페이지 추가
  web/WEB-INF/views/admin_news/insertArticle.jsp
Labels: UI

#127 [뉴스 관리자 모드] 기사 추가 페이지 추가- 기능구현
  src/main/java/com/antybeety/news/controller/ViewAdNewsController.java
  web/WEB-INF/views/admin_news/insertArticle.jsp
Labels: MVC : Controller, UI, 기능추가

#141 [ISSUE-135] 뉴스 관리자 상세검색 CSS 깨짐
  web/WEB-INF/views/admin_news/newsAdmin.jsp
  web/resources/css/news4.css
Labels: UI, bug, 도움!!

#148 [ISSUE-147] NewsAdService 메서드 리턴타입 변경
  src/main/java/com/antybeety/news/controller/NewsAdController.java
  src/main/java/com/antybeety/news/controller/NewsAdControllerImpl.java
  src/main/java/com/antybeety/news/model/service/NewsAdService.java
  src/main/java/com/antybeety/news/model/service/NewsAdServiceImpl.java
Labels: MVC : Controller, MVC : DAO, S : 뉴스, Spring

#151 [ISSUE-147] NewsAdService TC 구현 및 통과
  src/test/java/com/antybeety/news/model/service/NewsAdServiceTest.java
Labels: MVC : Service, S : 관리자 모드, Spring, Test Case

#156 [ISSUE-142] 뉴스 상세검색 CSS 깨짐
  web/WEB-INF/views/news/news.jsp
  web/WEB-INF/views/news/newsSearch.jsp
  web/resources/css/news4.css
Labels: S : 뉴스, Spring, UI

#192 [ISSUE-191] 버그슈팅 - console.log, System.out. 제거
  .idea/artifacts/thingbeeways_Web_exploded.xml
  src/main/java/com/antybeety/map/model/dao/ConvenienceDetailDAO.java
  src/main/java/com/antybeety/map/model/dao/ConvenienceMarkDAO.java
  src/main/java/com/antybeety/map/model/service/FacilityDetailService.java
  src/main/java/com/antybeety/news/controller/ApiNewsController.java
  src/main/java/com/antybeety/news/controller/ViewAdNewsController.java
  src/main/java/com/antybeety/news/controller/ViewNewsController.java
  src/main/java/com/antybeety/news/model/service/NewsServiceImpl.java
  src/main/java/com/antybeety/stats/controller/ViewCriminalStatistics.java
  src/test/java/com/antybeety/news/model/service/NewsCrawlingServiceImplTest.java
  src/test/java/com/antybeety/press/model/dao/PressDAOTest.java
  web/WEB-INF/views/admin_news/insertArticle.jsp
  web/WEB-INF/views/admin_news/insertPress.jsp
  web/WEB-INF/views/admin_news/newsAdmin.jsp
  web/WEB-INF/views/admin_news/updateArticle.jsp
  web/resources/js/adminlogin.js
  web/resources/js/chart.js
  web/resources/js/gnmenu.js
  web/resources/js/map.js
  web/resources/js/mapFacility.js
  web/resources/js/mobilechart.js
  web/resources/js/mstaticCharts.js
  web/resources/js/mstaticMap.js
  web/resources/js/resize.js
  web/resources/js/staticMap.js
  web/resources/vendor/chart.js/Chart.bundle.js
Labels: bug

#249 [ISSUE-247] [로그인 관리자] 제목부분에 에러로그 제거
  web/WEB-INF/views/admin/adminLogin.jsp
Labels: bug

#263 [ISSUE-262]모바일 페이지 CSS 수정
  web/resources/css/mdemostats.css
Labels: UI, bug
